/* 자서전 생성 버튼 스타일 */
.autobiography-button {
    position: absolute; /* 절대 위치 지정 */
    top: min(60vh, 600px); /* 화면 상단에서 65% 위치, 최대 600px */
    left: 7.5%; /* 화면 왼쪽에서 7.5% 위치 */
    padding: 12px 16px; /* 버튼의 패딩을 고정 크기로 설정 */
    font-size: 27px; /* 기본 글자 크기 27px */
    margin-left: -60px; /* 왼쪽 여백 조정 */
    text-align: left;
    font-weight: bold;
    color: white;
    background: linear-gradient(135deg, #CA891D, #FFD700); /* 그라데이션 배경 */
    border: none;
    border-radius: 50px; /* 둥근 모서리 */
    cursor: pointer;
    transition: all 0.3s ease; /* 모든 속성에 대한 전환 효과 */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
    text-transform: uppercase; /* 대문자 변환 */
    letter-spacing: 1px; /* 자간 설정 */
    height: 81px; /* 버튼 높이 설정 (1600px 이상 화면 크기) */
    z-index: 2;
}

.autobiography-button:hover {
    background: linear-gradient(135deg, #b07b19, #E6C200); /* 호버 시 그라데이션 변경 */
    transform: translateY(-10px); /* 살짝 위로 이동 */
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15); /* 그림자 강화 */
}

/* 버튼 클릭 시 색상과 효과 */
.main-container .autobiography-button:active {
    background: linear-gradient(135deg, #b07b19, #E6C200); /* 클릭 시 색상 변경 */
    transform: translateY(1px); /* 살짝 아래로 이동 */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 그림자 약화 */
}

/* 1600px 이하일 때 스타일 */
@media (max-width: 1600px) {
    .autobiography-button {
        top: min(55vh, 550px); /* 화면 상단에서 50% 위치, 최대 500px */
        left: 6.5%;
        font-size: 20px; /* 글자 크기 25px로 설정 */
        padding: 10px 18px; /* 패딩을 조금 줄임 */
        height: 60px; /* 버튼 높이 설정 (1600px 이하 화면 크기) */
    }
}
