/* components/common/Header.css */
.header {
    display: flex;
    height: 15vh; /* 화면 높이의 10% */
    align-items: center;
    background-color: var(--secondary-color);
    padding: 0 22px;
    z-index: 2;
}

.header-logo {
    height: 15vh; /* 로고의 높이를 헤더 높이에 맞추어 조정 */
    width: 53vh;
}
