/* components/common/Header.css */
.header {
    display: flex;
    height: 15vh; /* 화면 높이의 10% */
    align-items: center;
    background-color: var(--secondary-color);
    padding: 0 22px;
    z-index: 10;
}

.header-logo {
    height: 15vh; /* 로고의 높이를 헤더 높이에 맞추어 조정 */
    width: 53vh;

  
 
  
}

.user-icon {
    width: 63px; /* 크기를 2배로 키웁니다 */
    height: 63px;
    margin-left: auto; /* 오른쪽 끝으로 배치 */
    margin-right: 20px; /* 아이콘을 왼쪽으로 이동 */
  }

@media (max-width: 551px) {
    .header-logo {
        height: 15vh; /* 로고의 높이를 헤더 높이에 맞추어 조정 */
        width: 80vw;
    }

}
